.glassmorphic {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.1);
}

.custom-button {
  background-color: #fff;
  color: #000;
  font-weight: bold;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
  width: 100%;
  text-align: center;

  &:hover {
    background-color: #e0e0e0;
  }
}

.secondary-button {
  background-color: transparent;
  color: #fff;
  border: 1px solid #fff;
  font-weight: bold;
  padding: 1rem;
  border-radius: 0.5rem;
  transition: background-color 0.3s ease, color 0.3s ease;
  width: 100%;
  text-align: center;

  &:hover {
    background-color: #fff;
    color: #000;
  }
}
